
body{
    background-image: url(pImages/vegs-pie.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: white;
}
.header{
    background-image: url(pImages/2pie-pickin2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
h1{
    font-size: 140px;
    text-align: center;
    color: rgb(76, 76, 207);
}
.header p{
    color: aqua;
    text-align: right;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#card-1{
    background-image:url(pImages/wPizza.jpg) ;
    background-position: center;
    background-size: cover;
    background-clip: content-box;
}
#card-header{
    color: green;
    background-color: burlywood;
}
.labels{
    text-align: center;
    font-size: 20px;
    color: rgb(27, 145, 27);
    font: bold;
}
.size{
    margin: 10px;
  }
  
.size input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}
#size{
      padding-top: 20px;
}
  
.size label {
    display: inl ine-block;
    background-color: red;
    width: 150px;
    padding: 5px 10px;
    font-family: sans-serif, Arial;
    font-size: 20px;
    border: 2px solid #444;
    border-radius: 4px;

}
  
.size label:hover {
    background-color: chartreuse;
}
.size input[type="radio"]:checked + label{
    background-color: rgb(92, 131, 92);
    border: 2px dashed #444;
}
.flavour input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}
.flavour label {
    display: inl ine-block;
    background-color: blueviolet;
    padding: 5px 10px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.flavour label:hover {
    background-color: rgb(92, 131, 92);
    border: 2px dashed #444;
}
.flavour input[type="radio"]:checked + label{
    background-color: chartreuse;
}
.topping input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  .topping label {
    display: inl ine-block;
    background-color: rgb(206, 177, 50);
    padding: 5px 10px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.topping label:hover {
  background-color: rgb(92, 131, 92);
  border: 2px dashed #444;
}
.topping input[type="radio"]:checked + label{
    background-color: chartreuse;
}
.crust input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  .crust label {
    display: inl ine-block;
    background-color: violet;
    padding: 5px 10px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.crust label:hover {
  background-color: #dfd;
}
.crust input[type="radio"]:checked + label{
    background-color: rgb(92, 131, 92);
    border: 2px dashed #444;
}
.delivery input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
.delivery label {
    margin: 10px;
    display: inl ine-block;
    background-color: rgb(33, 44, 44);
    padding: 5px 10px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.delivery label:hover {
    background-color: rgb(92, 131, 92);
    border: 2px dashed #444;
}
.delivery input[type="radio"]:checked + label{
    background-color: chartreuse;
}

.submit button {
    display: inl ine-block;
    background-color: rgb(236, 52, 181);
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 20px;
    border: 2px solid #444;
    border-radius: 4px;
}

.submit button:hover {
    background-color: rgb(92, 131, 92);
    border: 2px dashed #444;
}
  
.order-form{
    font-size: 15px;
    
}
.number input[type="text"]{
    display: inline-block;
    background-color: transparent;
    font-size: 15px;
    border: 2px solid #444;
    color: #dfd;

}
::placeholder{
    background: transparent;
    color: rgb(197, 247, 59);
    padding: 10px 20px;
    font-size: 18px;
}
#regular{
    font-size: 20px;
}
.first-hide{
    display: non;
}